@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
// @import './Header/Header.scss';
// @import './Welcome/Welcome.scss';
// @import './LoginCard/LoginCard.scss';
// @import './Mainblog/Mainblog.scss';
// @import './scrollLogin/scrollLogin.scss';
// @import './SignIn/SignIn.scss';
// @import './SignUp/SignUp.scss';
// @import './TeacherSignIn/TeacherSignIn.scss';
// @import './TeacherSignUp/TeacherSignUp.scss';
// font-family: 'Slabo 27px', serif;
// font-family: 'Acme', sans-serif;
// font-family: 'Montserrat', sans-serif;
body{
  font-size:62.5%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
